.question_div{
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  border: 2px solid black;
  text-align: left;
  margin-left: 5px;
  width: 70%;
  margin: 0px auto;
  background-color: Cornsilk
